/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  /* Variables */
  :root {
    --main-color: #54B689;
    --main-text-color: #d4d4d4;
    --border-color: #c1bbbb;
    --bio-bg-color: #132439;
    --bio-border-color: #293544;
    --about-bg-color: #050d17;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /* General */
  .highlight {
    color: var(--main-color);
  }
  
  /* Containers */
  #container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
  }
  
  #bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 40px 12px;
    border-right: 5px solid var(--bio-border-color);
  }
  
  #about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
  }

  #summary-container {
    display: flex;
    flex-wrap: wrap; /* Itens quebram linha se necessário */
    align-items: center; /* Alinha os itens verticalmente */
  }
  
  #summary-container a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: gray;
  }
  
  #summary-container p.summary-container-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
  }

  #summary-container p#summary-title {
    font-size: 24px;
    margin-left: 30%;
    margin-top: 5%;
    
  }

  
   
  /* Bio container */

  #bio-container {
    position: sticky;
    top: 0px; /* Define a distância do topo quando o elemento se torna fixo */
    height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
    overflow-y: hidden; /* bloqueia rolagem interna*/
}

  #bio-container h2 {
    margin-bottom: 25px;
    
  }
  
  #bio-container p {
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  #bio-container #contact-text {
    font-weight: bold;
    font-size: 20px;
  }
  
  #bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
  }
  
  #social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  
  #social-container li {
    flex: 1 1 0;
    max-width: 60px;
  }
  
  #social-container li a {
    color: var(--main-color);
    font-size: 30px;
  }
  
  #email-container {
    display: flex;
    justify-content: center;
    margin-right: 60px;
  }
  
  #email-container ion-icon,
  #email-container a {
    flex: 1 1 0;
    justify-content: center;
    padding-left: 10px;
  }
  
  #email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
  }
  
  #email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-left: 25px;
    max-width: 20px;
  }
  
  /* about container */
  #name {
    font-size: 42px;
    margin-bottom: 15px;
  }
  
  #title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .description {
    max-width: 75%;
    margin-bottom: 10px;
    font-size: 20px;
  }

  #btn-projects {
    font-weight: bold;
    font-size: 16px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    margin: 25px 0;
    padding: 12px 10px;
    width: 150px;
    text-align: center;
    display: flex;
  }
  
  #btn-projects ion-icon,
  #btn-projects span {
    flex: 1 1 0;
  }
  
  #btn-projects ion-icon {
    font-size: 20px;
    max-width: 20px;
  }
  
  #btn-projects:hover {
    background-color: transparent;
  }
  
  #skills-section-title,
  #degree-skills-section-title,
  #job-skills-section-title,
  #hard-skills-section-title,
  #soft-skills-section-title,
  #language-skills-section-title,
  #certificate-carousel-title {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  #skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    
  }
  
  .skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
    margin-right: 50px;
  }
  
  .skills-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
  }
  
  .skills-box i {
    font-size: 45px;
    margin-right: 10px;
  }

  .degree-list {
    margin-left: 50px;
  }

  .degree-list li {
    margin-top: 10px;
  }

  .soft-skills-box {
    text-align: center;
    padding: 5px 10px; /* Espaçamento interno */
    color: var(--main-text-color); /* Cor do texto */
    font-size: 16px; /* Ajuste de tamanho de texto */
    font-weight: bold;

  }

  .soft-skills-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
    
  }

  #portfolio-section-title {
    padding-left: 42%;
    font-size: 50px;
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
  }

  .carousel-container,
  .certificate-carousel-container {
    position: relative;
    margin: 50px auto;
    max-width: 90%;
    overflow: hidden;
    text-align: center;
  }

  .carousel-title,
  .certificate-carousel-title {
    font-size: 32px;
    color: var(--main-text-color);
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    border-radius: 10px;
  }

  .carousel-item iframe {
    border-radius: 5px;
    width: 70%;
    height: 550px;
  }

  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


  /*About me caroussel*/
  #carousel-container-about-me {
    position: relative;
    margin: 50px auto;
    max-width: 90%;
    overflow: hidden;
    text-align: center;
  }
  
  #carousel-about-me {
    display: flex;
    transition: transform 1.0s ease-in-out;
  }

  .carousel-item-about-me {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-item-about-me p {
    margin-left: 10%;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 5%;
    
  }

  .carousel-item-about-me img {
    width: 50%;
    border-radius: 10px;
  }


  #prev-button-about-me,
  #next-button-about-me {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  #prev-button-about-me {
    left: 10px;
  }
  
  #next-button-about-me {
    right: 10px;
  }
  
  #prev-button-about-me:hover,
  #next-button-about-me:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


  /* Mobile */
  @media(max-width: 450px) {
  
    #container {
      flex-direction: column;
    }
  
    #bio-container {
      
      position:relative;
      top: 0px; /* Define a distância do topo quando o elemento se torna fixo */
      height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
      overflow-y: hidden; /* bloqueia rolagem interna*/
    }
  
    #bio-container h2 {
      display: none; /* Oculta o título no mobile */
    }
  
    #bio-container p {
      max-width: 90%; /* Adapta largura ao mobile */
      margin: 10px auto;
      font-size: 18px; /* Reduz tamanho da fonte */
    }
  
    #bio-image {
      width: 120px;
      height: 120px;
    }
  
    #about-container {
      text-align: center;
      padding: 20px;
    }

    #title {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: bold;
      
  }
  
    .description {
      margin: 10px auto;
      max-width: 100%;
      line-height: 26px;
      text-align: justify;
      font-size: 16px; /* Reduz tamanho da fonte */
    }
  
    #btn-projects {
      margin: 20px auto;
      font-size: 14px;
      width: auto;
      padding: 10px 15px;
    }
  
    #skills-container {
      align-items: center;   /* Centraliza os itens */
    }
  
    .skills-box {
      flex: 1 1 100%;
      max-width: 100%;
      margin-bottom: 40px;
      text-align: left;
    }
  
    .skills-box i {
      font-size: 45px;
    }

    #portfolio-section-title {
      padding-left: 0vh;
      font-size: 40px;
      border-top: 1px solid var(--border-color);
      margin-top: 10px;
    }
  
    .carousel-container {
      max-width: 100%; /* Adapta largura */
      margin: 20px auto;
    }
  
    .carousel-item img {
      border-radius: 5px;
    }

    .carousel-item iframe {
      border-radius: 5px;
      width: 70%;
      height: 150px;
    }

   /*About me caroussel*/
   #carousel-container-about-me {
    position: relative;
    margin: 50px auto;
    max-width: 90%;
    overflow: hidden;
    text-align: center;
  }

  .carousel-item-about-me p {
    margin-left: 10%;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 5%;
    
  }

  /*sumario*/

  #summary-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    align-items: center;
    gap: 10px; /* Espaço uniforme entre os itens */
    justify-content: center; /* Centraliza os itens */
  }
  
  #summary-container a {
    text-decoration: none; /* Remove o sublinhado */
    color: gray;
  }
  
  #summary-container p.summary-container-title {
    width: 150px; /* Define uma largura fixa para todos os itens */
    text-align: center; /* Centraliza o texto */
    font-size: 12px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box; /* Inclui padding dentro da largura total */
  }
  
  #summary-container p#summary-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%; /* Faz o título ocupar toda a largura do container */
    margin: 10px 0;
  }
  

  }
  